#body_holder {
    visibility: hidden;
}

body {
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: purple;
}

h3 {
    font-size: 35px;
    color: indigo;
}

p,
h1,
h2,
h3 {
    margin: 2px;
}

#content {
    font-family: 'Parisienne', cursive;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: purple;
}

#gifts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: darkblue;
}

#content p {
    color: darkblue;
}

#container {
    padding-top: 20px;
    width: 960px;
    height: 478px;
    margin: 0px auto;
}

#content {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

#church-info,
#hall-info,
#brazil-info,
#usa-info,
#shower-info,
#registry-info {
    padding-top: 12px;
    width: 480px;
    float: left;
    text-align: center
}

p#location {
    color: border-left: ;
}

#back {
    text-align: center;
}

img {
    height: 200px;
    border-radius: 25%;
    margin: auto;
    display: block;
}

#shower {
    height: 400px;
    border-radius: 10%;
    margin: auto;
    display: block;
}

#registry {
    height: 400px;
    border-radius: 1%;
    margin: auto;
    display: block;
}

#center {
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 30px;
}


/*Tablets: iPads*/

@media screen and (max-width:959px) {
    #container {
        width: 100%;
    }
    #hall-info,
    #registry-info,
    #usa-info {
        width: 50%;
    }
    #church-info,
    #shower-info,
    #brazil-info {
        width: 50%;
    }
}


/*Large screen smart phones: iPhone 6*/

@media screen and (max-width:690px) {
    #container {
        width: 100%;
    }
    #hall-info,
    #registry-info,
    #usa-info {
        width: 100%;
    }
    #church-info,
    #shower-info,
    #brazil-info {
        width: 100%;
    }
}


/*First generation smart phones: iPhone 3GS*/

@media screen and (max-width:320px) {
    #container {
        width: 320px;
    }
    #church-info,
    #hall-info,
    #brazil-info,
    #usa-info {
        font-size: 14px;
    }
}