* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: Violet;
}

div#container {
    margin: 0px auto;
    text-align: center;
    width: 960px;
    background-color: green;
}

section#icon {
    height: 20 0px;
}

img {
    height: 200px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

section#content {}

section#church-info {
    width: 50%;
    float: left;
    padding-top: 10px;
}

section#hall-info {
    padding-top: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Parisienne', cursive;
    color: Indigo;
}

h1 {
    color: MedianBlue;
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    color: blue;
}

p {
    font-family: Arial;
}

h3#location {
    color: Indigo;
    font-size: 20px;
}