body {
    background-color: fuchsia;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Parisienne', cursive;
    font-size: 35px;

}

h1 {
	color: silver;
	font-size: 70px;
}

h2 {
	font-size: 45px;
}